<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mineee.main" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS"  />


    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name="com.mineee.controller.FeedListAppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />


        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MineeeSplashActivity"
            android:label="@string/title_activity_mineee_splash"
            android:theme="@android:style/Theme.Black.NoTitleBar" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".FeedMainActivity"
            android:label="@string/title_activity_feed_main" >
        </activity>


        <activity
            android:name=".TabbedFeedActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/title_activity_tabbed_feed"
            >
           <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity
            android:name=".UploadThingActivity"
            android:label="@string/title_activity_upload_thing" >
        </activity>
        <activity
            android:name=".UserProfileThingView"
            android:label="@string/title_activity_user_profile_thing_view" >

        </activity>


    </application>

</manifest>
